@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rotateThenStop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg); /* Xoay 90 */
  }
}

.animate-rotate-once {
  animation: rotateThenStop 1.5s ease-out forwards;
}

/* Xóa hiệu ứng autofill mặc định của Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important; /* bg-gray-900 */
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s; /* tránh nhấp nháy */
}
